.advanced-search .operator {
  margin-bottom: 15px;
}
.advanced-search .operator label {
  margin-right: 5px;
  font-size: 1em;
}
.advanced-search .heading span {
  margin-top:12px;
  margin-left:20px;
}
.advanced-search .group-operator {
  margin-top: 15px;
  margin-bottom: 15px;
}
.advanced-search .reset, .submit {
  width: 100px;
  margin: 0px 4px;
}
.advanced-search .search-group {
  background-color: #EFEBE8;
  border-bottom: 1px solid #D1CDCB;
  border-top: 1px solid #D1CDCB;
  margin-bottom:15px;
}
.advanced-search .search-field-row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.advanced-search .remove-button,.remove-group-button,.add-button,.add-group-button {
  width:20px;
  height:20px;
  box-shadow:none;
  background:none;
  background:url("../images/icons/adv_search_row_actions.png") no-repeat;
}
.advanced-search .add-group-button {
  width:205px;
  font-size:1em;
  font-weight:normal;
  text-shadow:none;
  color:#000000;
  background-position:185px 2px;
}
.advanced-search .add-group-button:hover {
  background-position:185px -18px;
  color: #990000;
}
.advanced-search .remove-button,.remove-group-button {
  background-position:0px -60px;
}
.advanced-search .add-button,.add-group-button {
  background-position:0px 0px;
}
.advanced-search .remove-button:hover, .remove-group-button:hover {
  background-position:0px -80px;
}
.advanced-search .add-button:hover {
  background-position:0px -20px;
}
.advanced-search .value {
  margin-top:1px;
  height:20px;
  padding-left:4px;
}
.advanced-search .button-group {
  margin: 10px 0 20px 0;
}
.advanced-search .button-group.fr {
  text-align: right;
}
.advanced-search .row-button-group {
  margin: 0 0 0 5px;
}
.advanced-search .search-field-row .value,.facet,.facet-values,.match {
  width:100%;
}
.advanced-search .bb {
  margin-top: 10px;
  margin-bottom: 25px;
}
.advanced-search .bt {
  border-top: solid 1px #fff;
}
.advanced-search .bt .span12 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.advanced-search .tooltip{
  top: 228px;
  color: #3e3a37;
  font-size: 0.938em;
}
