div.searchResults .item .title {
	font-family: KarbidWeb,Calibri,Arial,sans-serif;
	font-weight: bold;
	font-size: 1.375em;
	color: #A5003B;
}

div.searchResults .item .subtitle {
	font-size: 17px;
	font-family: Calibri,Arial,sans-serif;
	line-height: 1em;
	margin: 7px 0 0;
	color: #3E3A37;
	margin-top: 3px;
	word-wrap: break-word;
}

div.container{
	width:950px;
	min-height:515px;
	margin:0 auto
}

ul.images {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 950px;
  /*overflow-x: auto;*/
  background-color: #ddd;
}

ul.images li {
  display: inline;
  width: 150px;
  height: 150px;
}