/* index */
div.teaser div.span3 {
    display:block;
    float:left;
    position:relative;
    margin-left:0px;
}
div.teaser div.span12{
	margin-left: 60px;
}
div.teaser .caption {
    background-color:#e8eae9;
    opacity:0.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter:alpha(opacity=80);
    font-weight:bold;
    /*font-size:0.875em;*/
    position:absolute;
    left:0;
    bottom:4px;
    width:194px;
    height:20px;
    padding:5px;
    line-height:18px;
    margin:15px;
    white-space:nowrap;  
	overflow:hidden; 
	text-overflow:ellipsis;
}
/* index - end*/

/* header */
body.nojs header nav ul.navigation li.root ul li {
display: inline;
}

header,div.header {
    background:transparent url("../images/bg/back_header.png") no-repeat center bottom;
    width:100%;
    height:160px;
    margin-bottom:20px}
header img.printLogo,div.header img.printLogo {
    display:none}
header a.navigation-header-logo,div.header a.navigation-header-logo {
  float:left;
  height:85px;
  width:350px;
  border:0px;
  padding:0px;
  overflow:hidden;
}
header a.navigation-header-logo:focus,div.header a.navigation-header-logo:focus,header a.navigation-header-logo:hover,div.header a.navigation-header-logo:hover,header a.navigation-header-logo:active,div.header a.navigation-header-logo:active {
  background:#fff;
  color:#ff6c6c}
header a.navigation-header-logo .siteLogo p,div.header a.navigation-header-logo .siteLogo p {
  text-indent:-9999px}
header ul,div.header ul {
    margin:0;
    padding:0;
    list-style:none}
header ul li,div.header ul li {
    float:left}
header ul li.active a,div.header ul li.active a {
    color:#a5003b;
    font-weight:bold}
header ul.navigation,div.header ul.navigation {
    text-transform:uppercase;
    clear:left}
header ul.navigation li,div.header ul.navigation li {
    padding-right:20px;
    margin-left:0;
    position:relative}
header ul.navigation li.active ul,div.header ul.navigation li.active ul {
    display:block}
header ul.navigation li:last-child,div.header ul.navigation li:last-child {
    padding-right:0}
header ul.navigation ul,div.header ul.navigation ul {
    position:absolute;
    display:none;
    top:22px;
    left:0;
    text-transform:none;
    width:auto;
    min-width:600px}
header ul.navigation ul li,div.header ul.navigation ul li {
    padding-right:16px;
    border-top:1px solid #e9e5e2;
    float:none;
    display:inline;
    white-space:nowrap}
header ul.navigation ul li.active a,div.header ul.navigation ul li.active a {
    color:#a5003b;
    font-weight:bold}
header ul.navigation ul a,div.header ul.navigation ul a {
    color:#3e3a37;
    font-weight:normal;
    font-size:0.938em}
header ul.navigation a,div.header ul.navigation a {
    color:#3e3a37;
    padding-bottom:3px}
header ul.navigation a:hover,div.header ul.navigation a:hover,header ul.navigation a:active,div.header ul.navigation a:active,header ul.navigation a:focus,div.header ul.navigation a:focus {
    color:#a5003b}
header ul.toolbar,div.header ul.toolbar,header ul.login,div.header ul.login {
    float:right;
    font-size:0.814em;
    padding-top:10px;
    margin-top:-70px}
header ul.toolbar li,div.header ul.toolbar li,header ul.login li,div.header ul.login li {
    padding:0 12px}
header ul.toolbar li+li,div.header ul.toolbar li+li,header ul.login li+li,div.header ul.login li+li {
    border-left:1px solid #d1cdcb}
header ul.toolbar a,div.header ul.toolbar a,header ul.login a,div.header ul.login a {
    background:transparent url("../images/icons/aux_nav_icons.png") no-repeat -20px 0}
header ul.toolbar a.home,div.header ul.toolbar a.home,header ul.login a.home,div.header ul.login a.home {
    background-position:0 -4px;
    padding-left:17px}
header ul.toolbar a.help,div.header ul.toolbar a.help,header ul.login a.help,div.header ul.login a.help {
    background-position:0 -23px;
    padding-left:13px;
    cursor:help}
header ul.toolbar a:hover,div.header ul.toolbar a:hover,header ul.login a:hover,div.header ul.login a:hover {
    text-decoration:underline;
    color:#a5003b}
header ul.toolbar li.language,div.header ul.toolbar li.language,header ul.login li.language,div.header ul.login li.language {
    border-left:none}
header ul.toolbar li.language.loggedin,div.header ul.toolbar li.language.loggedin,header ul.login li.language.loggedin,div.header ul.login li.language.loggedin {
    border-left:1px solid #d1cdcb}
header ul.toolbar li.language a,div.header ul.toolbar li.language a,header ul.login li.language a,div.header ul.login li.language a {
    float:left;
    background-position:right -42px;
    padding-right:15px}
header ul.toolbar li.language a:focus,div.header ul.toolbar li.language a:focus,header ul.login li.language a:focus,div.header ul.login li.language a:focus {
    text-decoration:underline;
    color:#a5003b}
header ul.login,div.header ul.login {
    padding-left:30px;
    display:none}
header ul.login li+li,div.header ul.login li+li {
    padding-right:0}
header ul.login li.user,div.header ul.login li.user {
    border:none;
    padding-right:8px}
header nav,div.header nav,header div.nav,div.header div.nav {
    width:980px;
    margin:0 auto
}
div.search-header{
  position: absolute;
  right: 0;
  margin-right: 180px;
}
#formSearchHeader{
  float: right;
}
#formSearch, #formSearchHeader{
  width: 396px;
  padding: 0;
  margin-top: -10px;
  height: 100px;
  margin-left: -15px;
}
#formSearch label span, #formSearchHeader label span{
  display: block;
  overflow: hidden;
  height: 0px;
  width: 0px;
  margin: 0;
}
#formSearch span.contextual-help, #formSearchHeader span.contextual-help {
  height: 20px;
  overflow: hidden;
  position: absolute;
  right: 25px;
  top: -7px;
  width: 20px;
  background: none;
  display: block;
  text-indent: -999em;
}
#formSearch span.contextual-help a, #formSearchHeader span.contextual-help a {
  display: block;
  overflow: hidden;
  width: 20px;
  height: 20px;
}
#formSearch span.contextual-help a img, #formSearchHeader span.contextual-help a img {
  position: absolute;
  top: -58px;
  right: -12px;
  margin: 0;
}
#formSearch label input, #formSearchHeader label input{
  float: left;
  padding: 0 0 0 5px;
  -webkit-appearance: textfield;
  font-size: 0.938em;
  width: 315px;
  height: 25px;
  line-height: 25px;
  margin-right: 4px;
  margin-bottom: 0;
}
#formSearch button, #formSearchHeader button{
  position: relative;
  right: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  box-shadow: none;
  overflow: hidden;
  background: none;
}
#formSearch button::before, #formSearchHeader button::before {
 display: inline-block;
 content: url("../images/icons/search.png");
 margin: -150px 0px 0px 0px;
}
#formSearch a.link-adv-search, #formSearchHeader a.link-adv-search{
position: absolute;
font-size: 0.814em;
top: 19px;
left: -15px;
}
div.languageWidget {
  z-index:1;
}
div.languageWidget form {
  padding-top:1em;
}
div.languageWidget label {
  float:left;
  margin-right:0.5em;
}
div.languageWidget label span {
  float:left;
  margin-right:1em;
  display:block;
  line-height:24px;
}
div.languageWidget ul.selector {
  font-size:0.814em;
  display:none;
  background-color:#fff;
  padding:5px 12px 7px;
  border:1px solid #e9e5e2;
  z-index:1;
  width:50px;
  position:absolute;
  right:0;
  top:14px;
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
}
div.languageWidget ul.selector li {
  float:none;
  cursor:pointer;
  padding:0 15px 0 0;
  margin-bottom:5px;
  white-space:nowrap;
}
div.languageWidget ul.selector li:hover {
  color:#a5003b;
}
div.languageWidget ul.selector li.selected {
  cursor:default;
  background-color:#eee;
}
div.languageWidget ul.selector li:last-child {
  margin-bottom:0;
}
header div.languageWidget,div.header div.languageWidget {
  width:980px;
  margin:0 auto;
  position:absolute;
  top:0;
}
header div.languageWidget form,div.header div.languageWidget form {
  display:none;
}
/* header - end */

/* footer */
footer.container,div.footer .container{
  padding:20px 0 70px 0;
  clear:both;
}
footer a,div.footer a {
  text-decoration:none;
}
footer ul,div.footer ul {
  margin:0;
  padding:0;
  list-style:none;
}
footer div.inner,div.footer div.inner {
  margin:0 auto;
}
footer div.legal,div.footer div.legal {
  font-size:0.814em;
  color:#3e3a37;
}
footer div.legal div.inner,div.footer div.legal div.inner {
  border-top:1px solid #e9e5e2;
  padding-top:24px;
  overflow:hidden;
}
footer div.legal small,div.footer div.legal small {
  float:left;
  font-size:1em;
  margin-right:35px;
}
footer div.legal ul li,div.footer div.legal ul li {
  float:left;
  padding-right:17px;
}
footer div.legal ul li+li,div.footer div.legal ul li+li {
  border-left:1px solid #d1cdcb;
  padding-left:17px;
}
.build {
  float: right;
  font-size: 0.75em;
  color: #c1c1c1;
  z-index: 3;
}
/* footer - end */
/* genaral rules */
.a11y {
  position:absolute;
  left:-999em;
}
a {
  color: #3e3a37;
  text-decoration: none;
}
a:hover,a:active,a:focus {
  text-decoration:underline;
  color:#a5003b;
}
body {
  font-family: Calibri,Arial,sans-serif;
  color: #3e3a37;
}
body.start header,body.start div.header {
  height:85px;
  margin-bottom:0px;
}
body.start header a.navigation-header-logo ,body.start div.header a.navigation-header-logo,body.start header #formSearchHeader,body.start div.header #formSearchHeader{
  display:none;
}
body.start header ul.navigation,body.start div.header ul.navigation {
  padding-top:10px;
}
body.start header ul.toolbar,body.start div.header ul.toolbar {
  margin:0px;
}
form label {
  display: block;
  clear: left;
  color: #3e3a37;
  font-size: 0.938em;
  margin: 0 0 5px 0;
}
form input {
  width: 280px;
  margin: 0 0 5px 0;
}
input {
  color: #3e3a37;
  font-family: Calibri,Arial,sans-serif;
  font-size: 1em;
  border: 1px solid;
  border-color: #858280 #dcdbda #dcdbda #858280;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
button, input[type="button"], input[type="submit"] {
  color: #3e3a37;
  font-size: 0.938em;
  font-weight: bold;
  border: none;
  background: #ec0a3c url("../images/bg/primary_button_bg.png") repeat-x bottom center;
  margin: 0;
  padding: 2px 10px;
  cursor: pointer;
  height: 25px;
  line-height: 14px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
button {
  border: none;
  font-family: Calibri,Arial,sans-serif;
  font-size: 0.938em;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  padding: 0;
  color: #fff;
  cursor: pointer;
}
img {
border: 0;
margin: 15px;
}
.contextual-help, .contextual-help a, .contextual-help img {
  cursor: help;
}
div.tooltip {
  font-size: 0.814em;
  color: #999;
  position: absolute;
  z-index: 4;
  display: none;
  max-width: 240px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
div.tooltip div {
  padding: 3px 8px 3px;
  background-color: #fff;
  border: 1px solid #999;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
div.tooltip a {
  font-weight: bold;
}
div.heading {
  border-bottom:1px solid #d1cdcb;
  padding-bottom:15px;
}
div.heading > h1{
	display: inline-block;
}
/* genaral rules - end */