/* result.gsp */
div.searchResults .item .title {
	font-family: KarbidWeb,Calibri,Arial,sans-serif;
	font-weight: bold;
	font-size: 1.375em;
	color: #A5003B;
}
div.searchResults .item .subtitle {
	font-size: 17px;
	font-family: Calibri,Arial,sans-serif;
	line-height: 1em;
	margin: 7px 0 0;
	color: #3E3A37;
	margin-top: 3px;
	word-wrap: break-word;
}
/* result.gsp - end */
/* index.gsp */
div.teaser div.span3 {
    display:block;
    float:left;
    position:relative;
    margin-left:0px;
}
div.teaser div.span12{
	margin-left: 60px;
}
div.teaser .caption {
    background-color:#e8eae9;
    opacity:0.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter:alpha(opacity=80);
    font-weight:bold;
    /*font-size:0.875em;*/
    position:absolute;
    left:0;
    bottom:4px;
    width:194px;
    height:20px;
    padding:5px;
    line-height:18px;
    margin:15px;
    white-space:nowrap;  
	overflow:hidden; 
	text-overflow:ellipsis;
}
/* index.gsp - end*/
/* header.gsp */
body.nojs header nav ul.navigation li.root ul li {
display: inline;
}
/* header.gsp - end */
/* footer.gsp */
.build {
	text-align: right;
}
footer .row{
	border-top: 1px solid #e9e5e2;
	padding-top: 24px;
	overflow: hidden;
}
footer .span4{
	margin-left: 0px;
}
/* footer.gsp - end */