@font-face{font-family:KarbidWeb;
src:url("fonts/KarbidWeb.eot")}
@font-face{font-family:KarbidWeb;
src:url("fonts/KarbidWeb.woff") format("woff")}
@font-face{font-family:KarbidWeb;
src:url("fonts/KarbidWeb-Bold.woff") format("woff");
font-weight:bold}

/* header */
header, .header {
  background:transparent url("../images/bg/back_header.png") no-repeat center bottom;
  /*height:160px;*/
  margin-bottom:20px;
  min-height: 85px;
}
header .container, .header .container{
 min-height: 0px;
}
header .navigation-header-logo, .header .navigation-header-logo {
  float:left;
  height:85px;
  width:350px;
  border:0px;
  padding:0px;
  overflow:hidden;
}
header ul,div.header ul {
  margin:0;
  list-style:none;
}
header ul li,.header ul li {
  float:left;
}
header ul li.active a,.header ul li.active a {
  color:#a5003b;
  font-weight:bold;
}
header .navigation,.header .navigation {
  text-transform:uppercase;
  clear:left;
  height: 40px;
}
header .navigation li,.header .navigation li {
  padding-right:20px;
  position:relative;
}
header .navigation li.active ul,.header .navigation li.active ul {
  display:block;
}
header .navigation li:last-child,.header .navigation li:last-child {
  padding-right:0;
}
header .navigation ul,.header .navigation ul {
  position:absolute;
  display:none;
  top:22px;
  left:0;
  text-transform:none;
  width:auto;
  min-width:600px;
}
header .navigation ul li,.header .navigation ul li {
  padding-right:16px;
  border-top:1px solid #e9e5e2;
  float:none;
  display:inline;
  white-space:nowrap;
}
header .navigation ul li.active a,.header .navigation ul li.active a {
  color:#a5003b;
  font-weight:bold;
}
header ul.navigation ul a,.header ul.navigation ul a {
  color:#3e3a37;
  font-weight:normal;
  font-size:0.938em;
}
header ul.navigation a:hover,.header ul.navigation a:hover,header ul.navigation a:active,.header ul.navigation a:active,header ul.navigation a:focus,.header ul.navigation a:focus {
  color:#a5003b;
}
header .toolbar,.header .toolbar {
  font-size:0.814em;
  padding-top:10px;
  position: relative;
  text-align: right;
  padding-top: 15px;
}
header .toolbar .language-wrapper:hover .selector,.header .toolbar .language-wrapper:hover .selector{
  display: block;
}
.selector.language {
  text-align: left;
  width: auto;
}
header .language-wrapper >a,.header .language-wrapper >a {
  background-position: right -42px;
  padding-right: 20px;
}
header .language-wrapper >a,.header .language-wrapper >a{
  background: transparent url("../images/icons/aux_nav_icons.png") no-repeat 40px -43px;
}
header .link-adv-search, div.header .link-adv-search {
  font-size: 0.938em;
  display: inline-block;
  float: left;
  text-align: left;
  margin-left: 130px;
}
.search-header{
  margin-top: 35px;
  margin-bottom: 20px;
}
#form-search-header{
  display: inline-block;
}
.search-header form label span{
  display: block;
  overflow: hidden;
  height: 0px;
  width: 0px;
  margin: 0;
}
.search-header form .contextual-help {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.search-header form .contextual-help a {
  display: block;
  overflow: hidden;
  width: 20px;
  height: 20px;
}
.search-header form .contextual-help a img {
  position: absolute;
  top: -58px;
  right: -12px;
  margin: 0;
}
.search-header form label input{
  padding: 0 0 0 5px;
  -webkit-appearance: textfield;
  font-size: 0.938em;
  width: 315px;
  height: 23px;
  line-height: 25px;
  margin-right: 4px;
  margin-bottom: 0;
}
.search-header form button{
  box-shadow: none;
  overflow: hidden;
  background: none;
  width: 25px;
}
#form-search-header button::before {
 display: inline-block;
 content: url("../images/icons/search.png");
 margin: -150px 0px 0px 0px;
}
#form-search-header button:hover::before {
 margin: -200px 0px 0px 0px;
}
#form-search-header .tooltip{
  width: 340px;
  top: 100px;
  right: 0px;
}
.language-widget {
  z-index:1;
}
.language-widget form {
  padding-top:1em;
}
.language-widget label {
  float:left;
  margin-right:0.5em;
}
.language-widget label span {
  float:left;
  margin-right:1em;
  display:block;
  line-height:24px;
}
.language-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.language-wrapper a:hover {
  text-decoration: none;  
}
.language-wrapper .nopointer {
  background-color: #EEEEEE !important;
}
header .selector,.header .selector {
  display:none;
  background-color:#fff;
  padding:7px 12px 5px;
  border:1px solid #e9e5e2;
  z-index:1;
  width:50px;
  position:absolute;
  right:0;
  top:20px;
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
}
header .selector li,.header .selector li {
  float:none;
  cursor:pointer;
  padding:0 15px 0 0;
  margin-bottom:0px;
  white-space:nowrap;
}
header .selector.language li,.header .selector.language li {
  padding:0;
}
header .toolbar .selector a, .header .toolbar .selector a {
  background: none;
}
header .language-widget,.header .language-widget {
  width:980px;
  margin:0 auto;
  position:absolute;
  top:0;
}
header .language-widget form, .header .language-widget form {
  display:none;
}
/* header - end */

/* mobile view header */
.navbar {
  background: none;
}
.brand img {
  height:20px;
  margin: 0px;
  padding: 0px;
}
.btn-navbar {
  height: 30px;
}
.nav-list ul > li {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.nav-list ul > li > a {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
/* mobile view header - end */

/* index */
.search-widget {
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
  height: 300px;
}
.search-widget img {
  margin-left: 0;
  margin-bottom: 20px;
  height: 178px;
}
.search-widget label span {
  display: block;
  overflow: hidden;
  height: 0px;
  width: 0px;
  margin: 0;
}
.search-widget form button{
  width: 40px;
  height: 40px;
  box-shadow: none;
  overflow: hidden;
  background: none;
  vertical-align: top;
}
.search-widget form button::before{ 
  display: inline-block;
  content: url("../images/icons/search.png");
  margin: 0px 0px 0px 0px;
}
.search-widget form button:hover::before {
  margin: -50px 0px 0px 0px;
}
.search-widget .contextual-help, .advanced-search .contextual-help {
  margin-left: 4px;
  margin-top: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../images/icons/tooltips.png") no-repeat 0px 0px;
}
#form-search .contextual-help:hover,#form-search .contextual-help:active,#form-search .contextual-help:focus,
.advanced-search .contextual-help:hover,.advanced-search .contextual-help:active,.advanced-search .contextual-help:focus {
  background-position:0px -30px;
}
#form-search {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
#form-search input {
  font-size: 1.25em;
  width: 83%;
  height: 37px;
  line-height: 40px;
  float: left;
}
#form-search .link-adv-search {
  margin-top: 10px;
}
#form-search .tooltip {
  max-width: 93%;
  margin: 12px 0px;
  color: #3e3a37;
  font-size: 0.938em;
  top: 40px;
}
.teaser .span3 {
  display:block;
  float:left;
  position:relative;
  margin-left:0px;
}
.teaser .span12 {
  margin-left: 60px;
}
.teaser .caption {
  background-color:#e8eae9;
  opacity:0.8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter:alpha(opacity=80);
  font-weight:bold;
  position:absolute;
  left:0;
  bottom:0px;
  width:194px;
  height:36px;
  padding:5px;
  line-height:18px;
  margin:15px;  
  overflow:hidden; 
  text-overflow:ellipsis;
}
noscript .caption {
  height:20px !important;
  bottom:4px !important; 
  white-space:nowrap;
}
.teaser .article {
  display: block;
  float: left;
  position: relative;
}
.teaser .article img {
   width:204px;
   height:180px; 
}
.carousel {
  padding: 0px 0 0px 1px;
  position: relative;
  display: none;
  margin-bottom:100px;
}
.caroufredsel_wrapper{
  margin: auto !important;
}
.carousel a.previous, .carousel a.next {
  width: 45px;
  height: 50px;
  display: block;
  background: url('../images/icons/homepage_carousel_controls.png') no-repeat transparent;
  position: absolute;
  top: 85px;
}
.carousel a.previous {
  left: 84px;
}
.carousel a.previous:hover {
  background-position: 0 -50px;
}
.carousel a.next {
  background-position: 0 -150px;
  right: 76px;
}
.carousel a.next:hover {
  background-position: 0 -200px;
}
.carousel .clearfix {
	float: none;
	clear: both;
}
a.previous span, a.next span {
	display: none;
}
/* index - end*/

/* footer */
footer.container, .footer .container {
  padding:20px 0 70px 0;
  clear:both;
  min-height:0px;
}
footer a,.footer a {
  text-decoration:none;
}
footer ul,.footer ul {
  margin:0;
  padding:0;
  list-style:none;
}
footer .inner,.footer .inner {
  margin:0 auto;
}
footer .legal,.footer .legal {
  font-size:0.814em;
  color:#3e3a37;
}
footer .legal .inner,.footer .legal .inner {
  border-top:1px solid #e9e5e2;
  padding-top:24px;
  overflow:hidden;
}
footer .legal small,.footer .legal small {
  float:left;
  font-size:1em;
  margin-right:35px;
}
footer .legal ul li,.footer .legal ul li {
  float:left;
  padding-right:17px;
}
footer .legal ul li+li,.footer .legal ul li+li {
  border-left:1px solid #d1cdcb;
  padding-left:17px;
}
.build {
  float: right;
  font-size: 0.75em;
  color: #c1c1c1;
  z-index: 3;
}
/* footer - end */
/* genaral rules */
h1, h2, h3, h4 {
  font-family: KarbidWeb,Calibri,Arial,sans-serif;
  font-size: 1.75em;
  font-weight: normal;
  color: rgb(62, 58, 55);
  line-height: 1.5em;
}
h1, h1 a {
  font-family:KarbidWeb,Calibri,Arial,sans-serif;
  font-size:1.75em;
  font-weight:normal;
  color:#3e3a37;
}
h2, h2 a {
  font-family: KarbidWeb,Calibri,Arial,sans-serif;
  font-weight: bold;
  font-size: 1.375em;
  color: #a5003b;
}
h3, h3 a {
  font-family: Calibri,Arial,sans-serif;
  font-weight: bold;
  font-size: 1.125em;
  color: #3e3a37;
}
a {
  color: #3e3a37;
  text-decoration: none;
}
a:hover,a:active,a:focus {
  text-decoration:underline;
  color:#a5003b;
}
a {
  outline: 0;
}
body {
  font-family: Calibri,Arial,sans-serif;
  color: #3e3a37;
}
.container {
  min-height: 515px;
}
form label {
  display: inline-block;
  clear: left;
  color: #3e3a37;
  font-size: 0.938em;
}
form input {
  width: 280px;
  margin: 0 0 1px 0;
  height: 20px;
}
input {
  color: #3e3a37;
  font-family: Calibri,Arial,sans-serif;
  font-size: 1em;
  background-color: #fff;
  border: 1px solid;
  border-color: #858280 #dcdbda #dcdbda #858280;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
button, input[type="button"], input[type="submit"], .button {
  color: #3e3a37;
  font-size: 0.938em;
  font-weight: bold;
  border: none;
  background: #ec0a3c url("../images/bg/primary_button_bg.png") repeat-x bottom center;
  margin: 0;
  padding: 2px 10px;
  cursor: pointer;
  height: 25px;
  line-height: 14px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
button:hover,input[type="button"]:hover,input[type="submit"]:hover {
  background-position:top center;
}
button[disabled],input[type="button"][disabled],input[type="submit"][disabled] {
  background:#999 url("../images/bg/primary_button_bg_disabled.png") repeat-x bottom center;
  cursor:default;
}
button, .button {
  border: none;
  font-family: Calibri,Arial,sans-serif;
  font-size: 0.938em;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  padding: 0;
  color: #fff;
  cursor: pointer;
}

.button{
  padding: 3px 8px;
  color: #fff;
}

.button:hover{
  background-position: top center;
  text-decoration: underline;
  color:#fff;
}

img {
  border: 0;
  margin: 15px;
}
select {
  font-family:Calibri,Arial,sans-serif;
  font-size:1em;
  border:1px solid;
  border-color:#858280 #dcdbda #dcdbda #858280;
}
.invisible-but-readable {
  position:absolute;
  left:-10000px;
  width:1px;
  height:1px;
  overflow:hidden;
}
.tooltip a {
  font-weight: bold;
}
.heading > h1{
  display: inline-block;
}
.contextual-help {
  display: block;
  width: 17px;
  height: 17px;
  background: url("../images/icons/tooltips.png") no-repeat 0px -60px;
  text-indent: -999em;
}
.contextual-help, .contextual-help a, .contextual-help img {
  cursor: help;
}
.contextual-help, .contextual-help a, .contextual-help img {
  cursor: help;
}
.contextual-help:hover,.contextual-help:active,.contextual-help:focus {
  background-position:0px -90px;
}
.tooltip {
  color: #999;
  position: absolute;
  z-index: 4;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 3px 8px 3px;
  background-color: #fff;
  border: 1px solid #999;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}
.warning {
  background-color: #a5003b;
  color: #fff;
  padding: 5px 0 10px;
  text-align: center;
}
.fl {
  float:left !important;
}
.fr {
  float:right !important;
}
.bb {
  border-bottom: solid 1px #efebe8;
}
.bt {
  border-top: solid 1px #efebe8;
}
.bl {
  border-left: solid 1px #efebe8;
}
.br {
  border-right: solid 1px #efebe8;
}
.off {
  display: none !important;
}
.on {
  display: block !important;
}
.nopointer {
  cursor: default !important;
}

/* genaral rules - end */
