.icon-work {
  background: url(../images/icons/list_arrows.png) no-repeat 0px -1px;
}

.icon-theme {
  background: url(../images/icons/list_arrows.png) no-repeat 0px -1px;
}

.icon-ddb-search {
  background: url(../images/icons/search.png) no-repeat -15px -122px;
}