
/* item hierarchy */
.fieldHeader {
  clear: both;
  font-size: 1.064em;
  line-height: 32px;
  height: 32px;
  font-weight: normal;
  color: #3e3a37;
  padding-left: 10px;
  margin: 20px 0 15px 0;
  background: #efebe8;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px
}
