.locations #divOSM { 
  position: relative;
  float: right;
  clear: right;
  width: 476px;
  height: 300px;

  line-height: 0px;

  margin-left: 8px;

  background-color:#efebe8;

  overflow: hidden;
  font-size:0.938em;
  font-style: italic;
}

.location-container .location {
  margin-bottom: 30px;
}

.location-container .location .count {
  margin-bottom: 30px;
}

.location-container .space {
  margin-right: 6px;
}

.institution .space-in-front {
  margin-left: 6px;
}
.institution .count {
  font-size: small; 
  color: black;
}

.institution-item-page .institution {
  border-color: #efebe8;
  border-style: solid;
  border-width: 0 0 5px 0;
  padding: 0 0 18px 0;
  overflow: hidden;
}

.institution-item-page .logo {
  color: black; 
  font-size: small;
}
 
#header {
  font-family: Verdana, Arial;
  font-size: 1em;
  overflow: hidden;
  color: #ffffff;
}
 
#map {
  height: 86%;
  width: 96%;
  padding: 0; margin: 0;
}
 
#content {
  font-size: 1em;
}
 
#osm {
  font-size: 0.7em;
  font-style: italic;
  margin-bottom: 20px;
  position: relative;
}

#divOSM img {
  max-width: none !important;
  vertical-align: initial !important;
  border: none !important;
  margin: 0 !important;
}
