.view-type-switch {
  background: #efebe8;
  overflow: hidden;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
}

#view-list, #view-map {
 margin-right: 10px;
}

.view-type-switch #view-list {
  width: 24px;
  height: 24px;
  background: url("../images/icons/viewSelector.png");
}

.view-type-switch #view-list,.view-type-switch #view-map {
  width: 24px;
  height: 24px;
  box-shadow: none;
  overflow: hidden;
  background: none;
}

.view-type-switch button::before {
  display: inline-block;
  content: url("../images/icons/viewSelector.png");
}

.view-type-switch #view-list::before {
  margin: -24px 0 0 0;
}

.view-type-switch #view-list:hover::before{
  margin: -24px 0 0 -24px;
}

.view-type-switch #view-list.selected::before,.view-type-switch #view-list.selected:hover::before,.view-type-switch #view-list.selected:focus::before
  {
  margin: -24px 0 0 -48px;
}

.view-type-switch #view-map::before {
  margin: -48px 0 0 0;
}

.view-type-switch #view-map:hover::before{
  margin: -48px 0 0 -24px;
}

.view-type-switch #view-map.selected::before,.view-type-switch #view-map.selected:hover::before,.view-type-switch #view-map.selected:focus::before{
  margin: -48px 0 0 -48px;
}
.institution-listitem {
  list-style: none;
}

.icon-institution {
  background: url(../images/icons/list_arrows.png) no-repeat 0px -1px;
}

.icon-child-institution {
  background: url(../images/icons/list_arrows.png) no-repeat 0px -21px;
}

.filter {
  display: none;
}

.highlight {
  font-weight: bold;
}

.sector-facet {
  margin: 2px 0;
  line-height: 28px;
  position: relative;
  border: solid 1px #efebe8;
  background-color: #efebe8;
}

div.sector-facet>label:hover {
  text-decoration: underline;
  color: #a5003b;
}

.selected {
  color: #a5003b;
}

#no-match-message {
  display: none;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.sector-facet .checkbox input[type="checkbox"] { 
  float: none; 
  margin-top: -3px; 
  margin-left: -10px; 
}