@CHARSET "UTF-8";

.object-controls {
  background-color:#efebe8
}

div.object-controls .buttons > a,div.objectDisplayWidget div.object-controls .buttons>span {
  background:url("../images/icons/objectviewer_actions.png") no-repeat;
  display:inline-block
}