div.name {
  font-weight: bold;
}

div.rights {
  margin-top: 30px;
}

a.back.tools {
  padding-left: 19px;
  background: url(../images/icons/list_backarrows.png) no-repeat 0px -1px;
}

a.link.tools {
  padding-left: 25px;
  background: url(../images/icons/objectviewer_actions.png) no-repeat 0px -1px;
}

span.viewer.dfg {
  padding-left: 22px;
  background: url(../images/icons/objectviewer_actions.png) no-repeat 0px -42px;
}

a.institution-name {
  padding-left: 22px;
  background: url(../images/icons/list_arrows.png) no-repeat 0px -1px;
  font-weight: bold;
}

.object-controls {
 background-color: #efebe8;' 
}

.no-origin {
  padding-left: 25px;
  background: url(../images/icons/objectviewer_actions.png) no-repeat -2px -120px;
}