.back-to-list-greyed-out {
  color: #878380;
  padding-left: 19px;
  margin-right: 10px;
  background: url(../images/icons/list_backarrows.png) no-repeat 0px -41px
}
.rights {
  margin: 30px 0px 30px 0px;
}
.back-to-list {
  padding-left: 19px;
  background: url(../images/icons/list_backarrows.png) no-repeat 0px -1px;
  margin-right: 10px
}
.page-link {
  padding-left: 25px;
  background: url(../images/icons/objectviewer_actions.png) no-repeat 0px -1px;
}
.viewer.dfg {
  padding-left: 22px;
  background: url(../images/icons/objectviewer_actions.png) no-repeat 0px -42px;
}
.institution {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 10px;
  border: 1px solid #e9e5e2;
  border-width: 0 0 5px;
  font-size: 15px;
}
.institution-name {
  padding-left: 22px;
  height: 25px;
  line-height: 20px;
  background: url(../images/icons/list_arrows.png) no-repeat 0px -1px;
  font-weight: bold;
  font-size: 17px;
}
.institution-link {
  display: block;
}
.object-controls {
  line-height: 30px;
  background-color: #efebe8;
}
.origin {
  margin-top: 20px;
}
.origin span {
  background: url(../images/icons/objectviewer_actions.png) no-repeat;
  display: inline-block;
  padding-left: 23px;
  line-height: 20px;
  background-position: -2px -120px;
}
.has-origin {
  background-position: -2px -80px !important; 
}
.show-origin {
  margin-right: 10px;
}
.item-nav {
  line-height: 30px;
}
.item-nav {
  text-align: right;
}
.item-nav ul {
  margin-bottom: 0;
}
.item-nav ul li {
  padding: 0;
}
.item-nav .first-item a,.item-nav .prev-item a,.item-nav .next-item a,.item-nav .last-item a {
  background: url("../images/icons/pagination.png") no-repeat;
}
.item-nav .first-item a {
  padding-left: 14px;
  background-position: left -21px;
}
.item-nav .prev-item {
  margin-right: 5px;
}
.item-nav .prev-item a {
  padding-left: 14px;
  padding-right: 5px;
  background-position: left -61px;
}
.item-nav .next-item a {
  padding-right: 14px;
  padding-left: 5px;
background-position: right -41px;
}
.item-nav .next-item {
  margin-left: 5px;
}
.item-nav .last-item a {
  padding-right: 14px;
  background-position: right -1px;
}
.item-nav .items-overall-index {
  margin-right: 5px;
}
