.back-to-list-greyed-out {
  color: #878380;
  padding-left: 19px;
  margin-right: 10px;
  background: url(../images/icons/list_backarrows.png) no-repeat 0px -41px
}
.rights {
  margin: 30px 0px 30px 0px;
}
.back-to-list {
  padding-left: 19px;
  background: url(../images/icons/list_backarrows.png) no-repeat 0px -1px;
  margin-right: 10px
}
.page-link {
  padding-left: 25px;
  background: url(../images/icons/objectviewer_actions.png) no-repeat 0px -1px;
}
.viewer.dfg {
  padding-left: 22px;
  background: url(../images/icons/objectviewer_actions.png) no-repeat 0px -42px;
}
.institution {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 10px;
  border: 1px solid #e9e5e2;
  border-width: 0 0 5px;
  font-size: 15px;
}
.institution-name {
  padding-left: 22px;
  height: 25px;
  line-height: 20px;
  background: url(../images/icons/list_arrows.png) no-repeat 0px -1px;
  font-weight: bold;
  font-size: 17px;
}
.institution-link {
  display: block;
}
.object-controls {
  line-height: 30px;
  background-color: #efebe8;
}
.origin {
  margin-top: 20px;
}
.no-origin {
  margin-top: 30px;
  padding-left: 25px;
  background: url(../images/icons/objectviewer_actions.png) no-repeat -2px;
}
/*to check*/
.no-origin {
  background-position-y: -120px; 
}

.has-origin {
  background-position-y: -80px; 
}
/*------------*/
.page-nav {
  line-height: 42px;
}
.page-nav {
  text-align: right;
}
.page-nav ul {
  margin-bottom: 0;
}
.page-nav ul li {
  padding: 0;
}
.page-nav .first-page a,.page-nav .prev-page a,.page-nav .next-page a,.page-nav .last-page a {
  color: #878380;
  background: url("../images/icons/pagination.png") no-repeat;
}
.page-nav .first-page a {
  color: #878380;
  padding-left: 14px;
  background-position: left -21px;
}
.page-nav .prev-page {
  color: #878380;
  margin-right: 5px;
}
.page-nav .prev-page a {
  color: #878380;
  padding-left: 14px;
  padding-right: 5px;
  background-position: left -61px;
}
.page-nav .next-page a {
  color: #878380;
  padding-right: 14px;
  padding-left: 5px;
  background-position: right -41px;
}
.page-nav .next-page {
  color: #878380;
  margin-left: 5px;
}
.page-nav .last-page a {
  padding-right: 14px;
  background-position: right -1px;
}
