/* Displaying only the logo as header*/
.print-logo {
  display: block !important;
}

/* Removing unwanted elements */
header, .header,
footer .inner ul, footer .inner .build, .footer .inner ul, .footer .inner .build,
.facets-container, .results-paginator-options, .page-info-nav .page-nav, .results-paginator-view, .information,
.object-controls, .origin, .slide-viewer .tabs, .sibling-count,
#first-letter-index li:not(.active),
.group-operator, .add-group-button {
  display: none;
}

.fl {
  float: none !important;
}

/* Search page*/
.results-list, .matches, #previews-list {
  list-style: none;
}
.results-list .item {
  width: 575px;
}
.summary-main-wrapper {
  display: inline-block;
  width: 440px;
}
.thumbnail-wrapper {
  display: inline-block;
  width: 130px;
}
.search-results .results-list .summary-main-wrapper .title a {
  font-size: 25px;
}
.search-results .results-list .matches {
  font-size: 14px;
  line-height: 18px;
}
/* Search page - end*/

/* Item detail-view page*/
.institution-name {
  padding-left: 0px;
}
.institution .span10 {
  display: inline-block;
  width: 480px;
}
.institution .span2 {
  display: inline-block;
  width: 130px;
}
.item-description .span2{
  display: inline-table;
  width: 200px;
}
.item-description .value{
  display: inline-table;
  width: 400px;
}
.item-hierarchy-result ul {
  margin-left: -20px;
}
.item-hierarchy-result li {
  min-height: 20px;
}
/* Item detail-view - end*/

/* Advanced search */
.search-group {
  display: block !important;
}
/* Advanced search - end */
