.facets-head{
  position:relative;
}

.facets-head h3{
  padding: 0;
  margin: 0;
  line-height: 42px;
}

.bb{
  border-bottom: solid 1px #efebe8;
}

.bt{
  border-top: solid 1px #efebe8;
}

.bl{
  border-left: solid 1px #efebe8;
}

.br{
  border-right: solid 1px #efebe8;
}