.facets-head {
  position: relative;
}

.facets-head h3 {
  padding: 0;
  margin: 0;
  line-height: 42px;
}

.facets-head .contextual-help {
  position: absolute;
  right: 0;
  top: 14px;
}

.facets-list {
  margin-bottom: 10px;
  position: relative;
}

.facets-item {
  margin: 2px 0;
  line-height: 28px;
  position: relative;
  background-color: #efebe8;
  line-height: 28px;
}

.facets-item a.h3 {
  font-size: 17px;
  color: #3e3a37;
}

.facets-list a.h3 {
  font-size: 17px;
  color: #3e3a37;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
}

.facets-item>a.h3 {
  z-index: 10;
  display: block;
  padding: 0 20px 0 10px;
  background: url("../images/icons/arrows.png") no-repeat;
  background-position: 100% -48px;
}

.facets-list .facets-item:hover {
  background-color: #f6f5f3;
}

.facets-list .facets-item.mouseout {
  background-color: #efebe8;
}

.facets-list .facets-item>a.h3:hover {
  background-position: 100% -74px;
}

.page-filter,.sort-results-switch {
  line-height: 42px;
  display: inline-block;
  margin-right: 20px;
}

.page-filter label,.sort-results-switch label {
  display: inline;
}

.page-filter span,.sort-results-switch span {
  margin-left: 10px;
}

.page-info-nav{
  display: block;
  overflow: hidden;
}

.page-info,.page-nav {
  line-height: 42px;
  display: inline-block;
}

.page-nav {
  float: right;
}

.page-nav ul {
  margin-bottom: 0;
}

.page-nav ul li {
  padding: 0;
}

.page-nav .first-page a,.page-nav .prev-page a,.page-nav .next-page a,.page-nav .last-page a
  {
  background: url("../images/icons/pagination.png") no-repeat;
}

.page-nav .first-page a {
  padding-left: 14px;
  background-position: left -21px;
}

.page-nav .prev-page {
  margin-right: 5px;
}

.page-nav .prev-page a {
  padding-left: 14px;
  padding-right: 5px;
  background-position: left -61px;
}

.page-nav .next-page a {
  padding-right: 14px;
  padding-left: 5px;
  background-position: right -41px;
}

.page-nav .next-page {
  margin-left: 5px;
}

.page-nav .last-page a {
  padding-right: 14px;
  background-position: right -1px;
}

.results-paginator-view {
  background: #efebe8;
  padding: 12px;
  overflow: hidden;
}

.results-paginator-view .group-actions {
  float: left;
  padding-top: 3px;
}

.results-paginator-view .view-type-switch {
  float: right;
}

.results-paginator-view .group-actions,.results-paginator-view .view-type-switch,.group-actions label,.view-type-switch label
  {
  display: inline;
}

.results-paginator-view .group-actions input[type="checkbox"] {
  margin-top: -2px;
}

.results-paginator-view .group-actions label {
  margin-right: 15px;
}

.view-type-switch #view-list {
  width: 24px;
  height: 24px;
  background: url("../images/icons/viewSelector.png");
}

.view-type-switch #view-list,.view-type-switch #view-grid {
  width: 24px;
  height: 24px;
  box-shadow: none;
  overflow: hidden;
  background: none;
}

.view-type-switch button::before {
  display: inline-block;
  content: url("../images/icons/viewSelector.png");
}

.view-type-switch #view-list::before {
  margin: -24px 0 0 0;
}

.view-type-switch #view-list:hover::before{
  margin: -24px 0 0 -24px;
}

.view-type-switch #view-list.selected::before,.view-type-switch #view-list.selected:hover::before,.view-type-switch #view-list.selected:focus::before
  {
  margin: -24px 0 0 -48px;
}

.view-type-switch #view-grid::before {
  margin: 0;
}

.view-type-switch #view-grid:hover::before{
  margin: 0 0 0 -24px;
}

.view-type-switch #view-grid.selected::before,.view-type-switch #view-grid.selected:hover::before,.view-type-switch #view-grid.selected:focus::before{
  margin: 0 0 0 -48px;
}


input[type="checkbox"],input[type="radio"] {
  margin-right: 6px;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.search-results-content .search-results .item{
  padding: 15px 0 15px 0;
}

.search-results .results-list .title {
  padding: 4px 10px 0 0;
  margin: 0;
  line-height: 1.1em;
  overflow: hidden;
  max-height: 2.2em;
}

.search-results .results-list .title a{
  font-weight: normal;
  word-wrap: break-word;
  font-size: 22px;
}

.search-results .results-list .subtitle {
  font-size: 17px;
  font-family: Calibri,Arial,sans-serif;
  line-height: 1em;
  margin: 7px 0 0;
  color: #3e3a37;
  margin-top: 3px;
  word-wrap: break-word;
}

.search-results .results-list .thumbnail {
  margin-bottom: 15px;
}

.search-results .results-list .thumbnail .persist {
  position: relative;
  text-align: center;
  margin: auto;
  width: 140px;
  height: 105px;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}

.search-results .results-list .thumbnail img {
  max-width: 140px;
  max-height: 105px;
  display: block;
  float: none;
  border: 0;
  margin: auto;
}

.search-results .results-list .matches {
  font-size: 0.875em;
  line-height: 1.2em;
  color: #56524f;
  padding: 0.5em 0 0 0;
}

.search-results .results-list .summary .extra .types li {
  width: 19px;
  height: 19px;
  margin: 0 4px 0 0;
  text-indent: -999em;
  margin-top: 12px;
  background: url("../images/icons/result_types.png") no-repeat center top;
}

.search-results .results-list .summary .extra .types .image {
  background-position: 0 -38px;
}

.search-results .results-list .summary .extra .types .audio {
  background-position: 0 -95px;
}

.search-results .results-list .summary .extra .types .text {
  background-position: 0 -57px;
}

.search-results .results-list .summary .extra .types .video {
  background-position: 0 -19px;
}

.search-results .results-list .summary-main {
  min-height: 74px;
}

.search-results .results-list .summary .span2 {
  position:relative;
}

.search-results .results-list .summary .information {
  width: 19px;
  height: 19px;
  position: absolute;
  right: 0;
  background: url("../images/icons/search_actions.png") no-repeat 0 0;
  margin-top: -32px;
  cursor: pointer;
}

.search-results .results-list .summary .information:hover {
  background-position: 0px -20px;
}

.results-list .item .summary {
  padding-bottom: 5px;
}

.results-list.grid .item{
  display: inline-block;
  padding-right:10px;
  width:205px;
  vertical-align: top;
}

.results-list.grid .item .summary {
  position: relative;
}

.results-list.grid .summary-main-wrapper .summary-main{
  min-height: 0;
}

.results-list.grid .summary-main-wrapper .summary-main .subtitle, .results-list.grid .summary-main-wrapper .summary-main .matches, .results-list.grid .summary-main-wrapper .extra{
  display:none;
}

.results-list.grid .thumbnail{
  height: 105px;
}

.results-list.grid .thumbnail .persist {
  display: initial;
}
  
.bb {
  border-bottom: solid 1px #efebe8;
}

.bt {
  border-top: solid 1px #efebe8;
}

.bl {
  border-left: solid 1px #efebe8;
}

.br {
  border-right: solid 1px #efebe8;
}

.off{
  display:none !important;
}