.static_content {
  margin: 0 0 0 0;
  width: 75%;
  float: left;
  clear: left;
}
.static_marginal {
  width: 23%;
  margin: 0 0 0 2%;
  float: right;
  clear: right;
}
@media (max-width: 767px) {
  .static_marginal {
    display: none;
  }
}
.static_content a, .static_marginal a {
  text-decoration: underline;
}
.static_marginal img {
  margin: 0;
}
.static_content h2, .static_marginal h2 {
  color:#3e3a37;
  font-weight:normal;
  margin-top: 5px;
}
.static_content .date {
  font-size: 14px;
  margin: 0;
}
.static_content h2 a, .static_marginal h2 a, h2 a {
  font-weight:normal;
  font-size: 1em;
  text-decoration: none;
}
.plum-arrow li a:hover, .grey-arrow li a:hover, .lightgrey-arrow li a:hover, .plum-arrow li a:active, 
.grey-arrow li a:active, .lightgrey-arrow li a:active, .plum-arrow li a:focus, .grey-arrow li a:focus, 
.lightgrey-arrow li a:focus {
  text-decoration: underline;
}
.static_content h2 a:hover, .static_marginal h2 a:hover, h2 a:hover,
.static_content h2 a:active, .static_marginal h2 a:active, h2 a:active,
.static_content h2 a:focus, .static_marginal h2 a:focus, h2 a:focus {
  text-decoration: underline;
}  
.plum-arrow li a, .grey-arrow li a, .lightgrey-arrow li a {
  text-decoration: none;
}
.plum-arrow li, .grey-arrow li, .lightgrey-arrow li {
  list-style: none outside none;
  padding-left: 17px;
  margin-left: -24px;
  padding-bottom: 3px;
  padding-top: 3px;
}
.plum-arrow li {
  background: url("../images/icons/list_arrow_plum.png") no-repeat 0 4px;
}
.grey-arrow li {
  background: url("../images/icons/list_arrow_grey.png") no-repeat 0 4px;
}
/*TODO find a solution for the conflict with fl and fr classes*/
.floatLeft {
    float: left;
}

img.floatLeft, .inlineBox.floatLeft {
    margin: 5px 15px 10px 0;
}

.floatRight {
    float: right;
}

img.floatRight, .inlineBox.floatRight {
    margin: 5px 0 10px 15px;
}