.slide-viewer {
  width:445px;
  padding:10px;
  background:#efebe8;
}
.slide-viewer ul {
  padding:0;
  list-style:none;
  white-space:nowrap;
  letter-spacing:-4px;
  left:15px !important;
}
.slide-viewer li {
  letter-spacing:normal;
  display:inline-block;
  width:140px;
}
.slide-viewer li a {
  height:131px;
  width:120px;
  display:table-cell;
  vertical-align:middle;
}
.slide-viewer li a .thumbnail {
  text-align:center;
  width: 120px;
  height: 90px;
}
.slide-viewer li a .thumbnail.audio {
  background:#fff url("../images/icons/search_result_media_audio.png") no-repeat center center;
  background-size:90px auto;
}
.slide-viewer li a .thumbnail.video {
  background:#fff url("../images/icons/search_result_media_video.png") no-repeat center center;
  background-size:90px auto;
}
.slide-viewer li a .thumbnail.image {
  background:#fff url("../images/icons/search_result_media_image.png") no-repeat center center;
  background-size:90px auto;
}
.slide-viewer li a .thumbnail img {
  margin:0;
  max-width:120px;
  max-height:90px;
  display: inline-block;
}
.slide-viewer li a .label {
  display:block;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  margin-left:15px;
  width:100px;
  font-size:13px;
}
.slide-viewer button {
  position:absolute;
  top:0;
  width:24px;
  height:131px;
  text-indent:-999em;
  display:block;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.slide-viewer .btn-prev,.slide-viewer .btn-next {
  background:white;
  overflow:hidden;
}
.slide-viewer .btn-prev.disabled,.slide-viewer .btn-next.disabled {
  cursor:default;
}
.slide-viewer .btn-prev span,.slide-viewer .btn-next span {
  position:absolute;
  left:3px;
  height:24px;
  width:20px;
  background-image:url("../images/icons/objectviewer_carousel_controls.png");
}
.slide-viewer .btn-prev span {
  background-position:0px -91px;
}
.slide-viewer .btn-prev.disabled span {
  background-position:0px -151px;
}
.slide-viewer .btn-prev:hover:not(.disabled) span {
  background-position:0px -121px;
}
.slide-viewer .btn-next {
  float:right;
  right:0;
}
.slide-viewer .btn-next span {
  background-position:0px -2px;
}
.slide-viewer .btn-next.disabled span {
  background-position:0px -62px;
}
.slide-viewer .btn-next:hover:not(.disabled) span {
  background-position:0px -32px;
}
.slide-viewer button:focus {
  border:1px dotted #a5003b;
  margin:0px;
}
.slide-viewer .tabs {
  position:relative;
  height:auto
}
.slide-viewer .fix {
  height:175px;
}
.slide-viewer .tab {
  cursor:pointer;
  float:left;
  color:#3e3a37;
  font-size:16px;
  margin-top:16px;
}
.slide-viewer .tab:hover {
  text-decoration:underline;
  color:#a5003b;
}
.slide-viewer .divider {
  text-decoration:none;
  cursor:default;
  padding:0 5px;
  display:none;
}
.slide-viewer .divider {
  color:#a5003b;
  font-weight:bold;
}
.slide-viewer .divider:hover {
  text-decoration:none;
}
.slide-viewer .current-tab {
  color:#a5003b;
  font-weight:bold;
}
.slide-viewer .scroller {
  position:absolute;
  bottom:0;
  display:none;
  width:445px;
  overflow:hidden;
  background-color:white;
}
noscript .scroller {
  position: relative !important;
  display: block !important;
  overflow: auto !important;
}
.fancybox-toolbar {
  background-color: #efebe8;
  padding: 5px;
}
.fancybox-title-over {
  margin-left: 0 !important;
  top: 0;
}
.fancybox-toolbar .fancybox-toolbar-title {
  height: 23px;
  padding-right: 23px;
}
.fancybox-toolbar-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer !important;
  float: right;
  width: 18px;
  height: 18px;
  background: url("../images/icons/adv_search_row_actions.png") no-repeat left -60px;
}
.fancybox-toolbar-close:hover {
  background: url("../images/icons/adv_search_row_actions.png") no-repeat left -80px;
}
.binary-viewer-error {
  display:none;
  position:relative;
  width:100%;
  height:320px;
  background:#fff;
}
.binary-viewer-error p {
    padding:20px;
    margin:0}
.binary-viewer-error p a {
    color:#a5003b;
    text-decoration:underline}
.binary-viewer-error .error-header {
    font-size:16px;
    font-weight:bold;
    padding-bottom:0;
    font-style:italic;
    color:#3e3a37}
.binary-viewer-error .media-file {
  margin-right:3px;
}
.binary-viewer-flash-upgrade {
  display:none;
}
.binary-viewer-container {
  background-color:#fff;
  overflow:hidden;
}
#binary-viewer {
  width: 445px;
  height: 323px;
}
.binary-title {
  padding-top:7px;
}
#binary-viewer img {
  cursor: pointer;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
